@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root { 
    font-family: 'Jost', sans-serif;
    max-width: 980px;
    margin: auto;
}

.about-list img {
    width: 50%;
    margin: auto;
}

.about-list h3 {
text-align: left;
}


.our-works article img {
width: 50%;
margin: auto;

}









